{% extends "base.html" %}

{% block content %}
    <div class="card-2 {{ css_class }}">

        {% if image %}
            <img
                src="{{ url_for('static', filename=image) }}"
                alt="Image"
                class="result-image"
            >
        {% endif %}

        <h1>{{ heading }}</h1>

        {% if name %}
            <p class="name">Name: {{ name }}</p>
        {% endif %}

        {% if id %}
            <p class="id">ID: {{ id }}</p>
        {% endif %}

        <p class="subtext">{{ message }}</p>

    </div>
{% endblock %}
